/* Left Section */
.left {
  flex: 1;
}

.left h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #111;
}

.left p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}
